.hero {
  width: 100vw;
  height: 24vh;
  background-color: #bcbcbc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.heroSection1 {
  background-color: white;
}

.heroSection1 input,
.heroSection1 textarea {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.formButton {
  margin-top: 2em;
}

.contactText{
  font-size: 18px !important;
}

@media (max-width: 800px) {
  .hero {
    height: 17vh !important;
  }
  .contactForm {
    width: 100% !important;
  }

  .formButton {
    margin-top: 2em;
  }

  .responsiveSection {
    display: none;
  }

  .heroSection1 {
    flex-direction: column-reverse;
    gap: 10vw;
  }

  .imgContact {
    width: 100% !important;
    order: 2;
  }

  .contactText {
    order: 1;
  }
}

.imgContact {
  width: 50%;
  margin-right: 2em;
}

.imgContact img{
  width: 100%;
}
