.heroSection1 {
  background-color: white;
  margin-top: 20vh;
}

.heroSection1 input,
.heroSection1 textarea {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.formButton {
  margin-top: 2em;
}

@media (max-width: 800px) {
  .contactForm {
    width: 100% !important;
  }

  .formButton {
    margin-top: 2em;
  }

  .responsiveSection {
    display: none;
  }
}
