.card {
  width: 26vw;
  height: fit-content;
  transition: all ease 0.5s !important;
  font-size: 1.1em;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  background-color: rgba(206, 206, 206, 0.09);
  border-radius: 5px;
}

.card:hover > .cardText {
  padding: calc(var(--margin) * 2.2) calc(var(--margin)) calc(var(--margin) * 2)
    calc(var(--margin));
}

.cardObra {
  width: 27vw;
  font-size: 1em;
}

.cardObra:hover > .cardText {
  padding: calc(var(--margin) * 2.2) calc(var(--margin)) calc(var(--margin) * 2)
    calc(var(--margin));
}

.card:hover > .cardText a:first-child,
.card:hover > .cardText h2 {
  text-decoration: underline;
  cursor: pointer;
}

.card .cardText div {
  width: 100%;
}

.card a:first-child {
  font-weight: 500;
}

.cardText {
  transition: all ease 0.5s !important;
  padding: calc(var(--margin) * 2) var(--margin);
}

.cardImage {
  position: relative;
  overflow: hidden;
  height: 37vh;
}

.cardImage img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 1.2s ease-in-out;
}

.obraCardImg {
  overflow: hidden;
  position: relative;
}

.obraImg {
  transition: transform 1.2s ease-in-out;
}

.card:hover > .obraCardImg .obraImg {
  transform: scale(1.1);
}

.card:hover > .cardImage img {
  width: 110%;
  height: 110%;
}

.dataBox {
  width: fit-content;
  padding: 1% 0;
  margin: calc(var(--margin) / 2) 0 0 0;
}

.divData {
  gap: calc(var(--margin));
  align-items: baseline;
}

.lugarData {
  letter-spacing: 1px !important;
  font-size: .85em;
}

.dataLocation {
  align-items: center;
  gap: calc(var(--margin) / 2);
  align-items: baseline;
}

@media (max-width: 800px) {
  .card {
    width: 100%;
    align-items: center;
  }

  .lugarData{
    font-size: 1em !important;
  }

  .cardSection{
    width: 100%;
  }

  .card p,
  .card a:first-child {
    font-size: 1.2em;
  }

  .card p {
    font-weight: 100;
  }

  .card a:nth-child(2) {
    width: auto;
    padding: 0 10vw;
  }

  .card img {
    width: 100vw !important;
  }

  .cardObra .cardText {
    margin: 0 !important;
    padding: calc(var(--margin) * 2) 5px;
  }

  .fullCard {
    width: 100% !important;
  }

  .dataMedidas{
    font-size: 1em !important;
  }

  .cardText{
    padding-top: 1.3em !important;
  }
}

.imgObras {
  width: 90vw !important;
}

.fullCard {
  width: 50vw;
}
