.card {
  width: 25vw;
  height: fit-content;
  transition: all ease 0.5s !important;
  font-size: 1.1em;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  background-color: rgba(0, 0, 0, 0.09);
  border-radius: 5px;
}

.card:hover > .cardText {
  padding: calc(var(--margin)*2) 0 calc(var(--margin)*2) calc(var(--margin)*1.5);
}

.cardObra{
  width: 27vw;
  font-size: 1em;
}

.cardObra:hover > .cardText {
  padding: calc(var(--margin)*2) calc(var(--margin)*1.5);
}

.card:hover > .cardText h2{
  text-decoration: underline;
  cursor: pointer;
}

.card .cardText div{
  width: 100%;
}

.card h2 {
  font-weight: 500;
}

.cardText {
  transition: all ease 0.5s !important;
  padding: calc(var(--margin)*2) var(--margin);
}

.cardImage {
  position: relative;
  overflow: hidden;
  height: 35vh;
}

.cardImage img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease; /* Smooth scaling */
}

.cardImage img:hover {
  width: 110%;
  height: 110%;
}

.dataBox {
  width: fit-content;
  padding: 1% 0;
  margin: calc(var(--margin) / 2) 0 0 0;
}

.divData {
  gap: calc(var(--margin));
  align-items: baseline;
  flex-wrap: wrap;
}

.dataLocation {
  align-items: center;
  gap: calc(var(--margin) / 2);
  align-items: baseline;
}

.divData,
.dataLocation p {
  font-size: 1em;
}

@media (max-width: 800px) {
  .card {
    width: 100%;
  }

  .card:nth-child(2),
  .card:nth-child(3) {
    display: none;
  }
}

.imgObras{
  width: 90vw !important;
}

.fullCard{
  width: 45vw;
}