/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_heroSection1__iN3Ot {
  width: 100vw;
  height: 100vh;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.page_heroSection1__iN3Ot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: 0;
  background-image: url("");
}

.page_heroSection1__iN3Ot::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, .3);
}

.page_heroText__g5S3T h2 {
  display: inline-block;
  width: 60%;
  margin-bottom: calc(var(--margin) / 3);
}

.page_heroText__g5S3T {
  display: flex;
  align-items: baseline;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  width: 100vw;
  z-index: 100;
  color: white;
}

.page_buttonHeader2__IuVUr {
  margin-left: calc(var(--margin));
}

.page_aboutMe__XPGkS {
  display: flex;
}

.page_aboutMe__XPGkS video {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.page_aboutMeText__T1LyT {
  height: 100%;
  align-items: center;
  gap: 1vw;
  padding: 0 var(--margin);
  margin-left: 3vw;
}

.page_aboutMeText__T1LyT p{
  margin-bottom: 2vw;
  text-justify: auto;

}

.page_aboutMeVideo__Fj_h1 {
  position: relative;
  overflow: hidden;
  height: 65vh;
}

.page_parent__HJWUK {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: var(--margin);
  width: 100%;
  margin: 0 auto;
}

.page_parent__HJWUK div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.page_parent__HJWUK div video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.page_tallerText__APr5j {
  margin-left: calc(var(--margin) * 2);
}

@media (max-width: 800px) {
  .page_heroText__g5S3T div a {
    width: 50%;
  }

  .page_heroText__g5S3T div {
    width: 100%;
  }

  .page_divExpo__ABgYV {
    justify-content: center !important;
  }

  .page_heroText__g5S3T h2 {
    font-size: 2em;
    width: 100%;
  }

  .page_aboutMe__XPGkS {
    display: flex;
  }

  .page_aboutMeText__T1LyT {
    padding: 0;
    margin-left: 0;
  }

  .page_aboutMeText__T1LyT .page_button__vnlhW {
    width: 100%;
  }

  .page_divCards__n9j6n {
    width: 100%;
  }

  .page_containerTaller__OgDaB {
    flex-flow: column;
  }

  .page_containerTaller__OgDaB div {
    width: 100%;
  }

  .page_tallerText__APr5j {
    margin: 0;
    order: 1;
    margin-bottom: var(--margin);
  }

  .page_gridTaller__Bdf33 {
    order: 2;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/contacto/page.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.page_hero__2o2UJ {
  width: 100vw;
  height: 24vh;
  background-color: #bcbcbc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.page_hero__2o2UJ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.page_heroSection1__kSnen {
  background-color: white;
}

.page_heroSection1__kSnen input,
.page_heroSection1__kSnen textarea {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.page_formButton__TNqAN {
  margin-top: 2em;
}

@media (max-width: 800px) {
  .page_contactForm__yEYTq {
    width: 100% !important;
  }

  .page_formButton__TNqAN {
    margin-top: 2em;
  }

  .page_responsiveSection__DWnV6 {
    display: none;
  }

  .page_heroSection1__kSnen {
    flex-direction: column-reverse;
    gap: 10vw;
  }

  .page_imgContact__Qt34b {
    width: 100% !important;
    order: 2;
  }

  .page_contactText__xKyN4 {
    order: 1;
  }
}

.page_imgContact__Qt34b {
  width: 25%;
}

