.footerSection{
    font-size: .9em !important;
    color: white;
    background-color: #2b2b2b;
}

.footerSection a:hover{
    text-decoration: underline;
}

.footerSection{
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.1);
}

.navbarFooter ul{
    display: block !important;
}

.navbarFooter ul li{
    margin-bottom: var(--margin);
}

.navbarFooter2{
    text-align: end;
    justify-content: right;
}

@media (max-width: 800px) {
    .navbarFooter div{
        display: none !important;
    }

    .footerSection{
        font-size: .8em !important;
    }
}

@media (max-width: 400px) {
    .footerSection{
        display: flex;
        flex-wrap: wrap;
    }

    .navbarFooter2{
        justify-content:left;
        text-align: left;
    }
    
    .footerSection div:first-child{
        margin-bottom: 2.5em;
    }
    
    .footerSection div{
        width: 100%;
    }
}