/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@import url("https://use.typekit.net/mqv6hso.css");

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.bottom-0{
  bottom: 0px;
}
.right-0{
  right: 0px;
}
.z-50{
  z-index: 50;
}
.col-span-2{
  grid-column: span 2 / span 2;
}
.col-start-1{
  grid-column-start: 1;
}
.col-start-2{
  grid-column-start: 2;
}
.row-span-2{
  grid-row: span 2 / span 2;
}
.row-start-2{
  grid-row-start: 2;
}
.row-start-3{
  grid-row-start: 3;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.m-auto{
  margin: auto;
}
.mx-2{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mb-1{
  margin-bottom: 0.25rem;
}
.mb-10{
  margin-bottom: 2.5rem;
}
.mb-2{
  margin-bottom: 0.5rem;
}
.mb-20{
  margin-bottom: 5rem;
}
.mb-3{
  margin-bottom: 0.75rem;
}
.mb-5{
  margin-bottom: 1.25rem;
}
.mb-7{
  margin-bottom: 1.75rem;
}
.mb-8{
  margin-bottom: 2rem;
}
.ml-1{
  margin-left: 0.25rem;
}
.ml-2{
  margin-left: 0.5rem;
}
.mt-1{
  margin-top: 0.25rem;
}
.mt-10{
  margin-top: 2.5rem;
}
.mt-2{
  margin-top: 0.5rem;
}
.mt-20{
  margin-top: 5rem;
}
.mt-4{
  margin-top: 1rem;
}
.mt-5{
  margin-top: 1.25rem;
}
.flex{
  display: flex;
}
.hidden{
  display: none;
}
.size-6{
  width: 1.5rem;
  height: 1.5rem;
}
.h-8{
  height: 2rem;
}
.h-full{
  height: 100%;
}
.h-screen{
  height: 100vh;
}
.w-1\/2{
  width: 50%;
}
.w-1\/3{
  width: 33.333333%;
}
.w-1\/4{
  width: 25%;
}
.w-2\/3{
  width: 66.666667%;
}
.w-2\/4{
  width: 50%;
}
.w-24{
  width: 6rem;
}
.w-3\/4{
  width: 75%;
}
.w-4\/5{
  width: 80%;
}
.w-fit{
  width: fit-content;
}
.w-full{
  width: 100%;
}
.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer{
  cursor: pointer;
}
.resize{
  resize: both;
}
.flex-row{
  flex-direction: row;
}
.flex-col{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.items-center{
  align-items: center;
}
.justify-start{
  justify-content: flex-start;
}
.justify-end{
  justify-content: flex-end;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.gap-1{
  gap: 0.25rem;
}
.gap-10{
  gap: 2.5rem;
}
.gap-12{
  gap: 3rem;
}
.gap-2{
  gap: 0.5rem;
}
.gap-20{
  gap: 5rem;
}
.gap-4{
  gap: 1rem;
}
.overflow-hidden{
  overflow: hidden;
}
.p-3{
  padding: 0.75rem;
}
.p-6{
  padding: 1.5rem;
}
.text-center{
  text-align: center;
}
.text-justify{
  text-align: justify;
}
.text-start{
  text-align: start;
}
.text-end{
  text-align: end;
}
.align-middle{
  vertical-align: middle;
}
.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-6xl{
  font-size: 3.75rem;
  line-height: 1;
}
.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-bold{
  font-weight: 700;
}
.font-thin{
  font-weight: 100;
}
.tracking-widest{
  letter-spacing: 0.1em;
}
.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.underline{
  text-decoration-line: underline;
}
.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "neue-haas-unica", sans-serif;
}

main {
  overflow-y: hidden;
  overflow-x: hidden;
}

:root {
  --main-color: #000000;
  --secondary-color: #fff;
  --success-color: #3fbd3f;
  --font-size: 1em;
  --margin: 1em;
  --border: 10px;
  --height: 40px;
  --shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
  --padding-section: 2vw 5vw;
  font-size: 19px;
  letter-spacing: 0.01em;
}

.title {
  font-family: "neue-haas-unica", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal;
}

.title-big {
  font-size: 43px !important;
}

.subtitle {
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.text {
  text-align: justify;
  padding: 0 4.5vw !important;
}

.text a {
  margin: 0 auto !important;
}

.bolder1 {
  font-weight: 400 !important;
}

.bolder {
  font-weight: 400;
  font-size: 24px;
}

img,
video {
  filter: saturate(0.65);
  transition: filter 0.3s ease;
}

img:hover,
video:hover {
  filter: saturate(1);
}

.paddingSection {
  padding: 4vw 4vw;
}

.paddingBody {
  padding: 0 4vw 4vw;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.title-section {
  font-size: 1.5em;
}

.m-bottom {
  margin-bottom: var(--margin);
}

video::-webkit-media-controls-panel {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  padding: calc(var(--margin) / 2) var(--margin);
  width: fit-content;
  height: 2.5em;
  justify-content: center;
  text-decoration: none;
  transition: all 250ms;

  font-family: "neue-haas-unica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 1);
}

.button:hover {
  transform: translateY(-3px);
}

.button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.button.secondary {
  background-color: rgba(255, 255, 255, 0) !important;
  color: white;
  border: 1px solid white;
}

.button-wpp {
  color: var(--success-color) !important;
}

.button-wpp:hover {
  background-color: var(--success-color) !important;
  color: black !important;
}

.button-wpp:hover > svg {
  color: black !important;
}

.hero .button.secondary {
  margin-left: var(--margin);
}

.ultralight {
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.thin {
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.dot {
  height: 10px;
  width: 10px;
  border: 0.9px solid black;
  border-radius: 50%;
  display: inline-block;
}

.dot.selected {
  background-color: black;
}

.carrousellHandler {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.dots {
  gap: calc(var(--margin) / 2);
}

.cardsExpo {
  margin-bottom: calc(var(--margin) / 2);
}

.gap {
  gap: calc(var(--margin) / 2);
}

@media (max-width: 800px) {
  :root {
    font-size: 16px;
  }

  .text {
    padding: 0px 0px !important;
  }

  .paddingSection {
    padding: 6vw 8vw !important;
  }

  .paddingBody {
    padding: 4vw 8vw !important;
  }

  .button {
    width: 60%;
    margin: 0 auto;
  }

  .dots {
    gap: calc(var(--margin) / 4);
  }

  .dot {
    width: 10px !important;
    height: 10px !important;
  }

  .title {
    font-family: "neue-haas-unica", sans-serif !important;
    font-weight: 300 !important;
    font-style: normal;
  }

  .subtitle {
    font-family: "neue-haas-unica", sans-serif !important;
    font-weight: 300 !important;
    font-style: normal;
  }
}

.lines {
  position: absolute;
  height: 100%;
}
.dot {
  width: 14px;
  height: 14px;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.line {
  height: 115px;
  width: 1px;
  background: rgba(0, 0, 0, 0.15);
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  margin-left: 5.3px;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/Card/Card.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Card_card__Tuw2S {
  width: 26vw;
  height: fit-content;
  transition: all ease 0.5s !important;
  font-size: 1.1em;

  font-family: "neue-haas-unica", sans-serif;
  font-style: normal;
}

.Card_card__Tuw2S:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  background-color: rgba(206, 206, 206, 0.09);
  border-radius: 5px;
}

.Card_card__Tuw2S:hover > .Card_cardText__IFyLM {
  padding: calc(var(--margin) * 2.2) calc(var(--margin)) calc(var(--margin) * 2)
    calc(var(--margin));
}

.Card_cardObra__YJ_mq {
  width: 25vw;
  font-size: 1em;
}

.Card_cardObra__YJ_mq:hover > .Card_cardText__IFyLM {
  padding: calc(var(--margin) * 2.1) 3px;
}

.Card_card__Tuw2S:hover > .Card_cardText__IFyLM a:first-child,
.Card_card__Tuw2S:hover > .Card_cardText__IFyLM h2 {
  cursor: pointer;
}

.Card_card__Tuw2S .Card_cardText__IFyLM div {
  width: 100%;
}

.Card_card__Tuw2S a:first-child {
  font-weight: 500;
}

.Card_cardText__IFyLM {
  transition: all ease 0.5s !important;
  padding: calc(var(--margin) * 2) 3px;
}

.Card_cardImage__PhPFO {
  position: relative;
  overflow: hidden;
  height: 37vh;
}

.Card_cardImage__PhPFO img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 1.2s ease-in-out;
}

.Card_obraCardImg__YoY53 {
  overflow: hidden;
  position: relative;
}

.Card_obraImg__MRYcE {
  transition: transform 1.2s ease-in-out;
}

.Card_card__Tuw2S:hover > .Card_obraCardImg__YoY53 .Card_obraImg__MRYcE {
  transform: scale(1.1);
}

.Card_card__Tuw2S:hover > .Card_cardImage__PhPFO img {
  width: 110%;
  height: 110%;
}

.Card_dataBox__5Snnt {
  width: fit-content;
  padding: 1% 0;
  margin: calc(var(--margin) / 2) 0 0 0;
  margin: 0 auto;
}

.Card_divData__M4ggs {
  gap: calc(var(--margin));
  margin-top: 2.6em;
  align-items: baseline;
}

.Card_lugarData__v_R3E {
  letter-spacing: 1px !important;
  font-size: 0.85em;
}

.Card_dataLocation__Gzlut {
  align-items: center;
  gap: calc(var(--margin) / 2);
  align-items: baseline;
}

.Card_dataMedidas__zetbk:first-child {
  margin-top: 9px;
}

.Card_dataMedidas__zetbk {
  font-size: 14px;
  line-height: 1;
}

.Card_cardText__IFyLM a:first-child {
  font-size: 24px;
}

.Card_cardText__IFyLM {
  padding: calc(var(--margin) * 1.5) 0 !important;
}

.Card_cardText__IFyLM h2,
.Card_lugarData__v_R3E {
  font-size: 24px;
}

.Card_danteDiv__VEwHs {
  margin-top: 250px;
}

@media (max-width: 800px) {
  .Card_card__Tuw2S {
    width: 100%;
    align-items: center;
  }

  .Card_lugarData__v_R3E {
    font-size: 1em !important;
  }

  .Card_cardSection__kTcnD {
    width: 100%;
  }

  .Card_card__Tuw2S p,
  .Card_card__Tuw2S a:first-child {
    font-size: 1.2em;
  }

  .Card_card__Tuw2S p {
    font-weight: 100;
  }

  .Card_card__Tuw2S a:nth-child(2) {
    width: auto;
    padding: 0 10vw;
  }

  .Card_card__Tuw2S img {
    width: 100vw !important;
  }

  .Card_cardObra__YJ_mq .Card_cardText__IFyLM {
    margin: 0 !important;
    padding: calc(var(--margin) * 2) 5px;
  }

  .Card_fullCard__r_zyo {
    width: 100% !important;
  }

  .Card_dataMedidas__zetbk {
    font-size: 1em !important;
  }

  .Card_cardText__IFyLM {
    padding-top: 1.3em !important;
  }
}

.Card_imgObras__yksZj {
  width: 90vw !important;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/sobre-mi/page.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.page_hero__wjdj1 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.page_hero__wjdj1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/imagenes/esta-si.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px;
  z-index: 0;
}

.page_hero__wjdj1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.page_textAbout__kQUqe {
  position: relative;
  padding-left: 10vw;
}

.page_textAbout__kQUqe h2 {
  font-size: 43px;
  padding: 0 10vw 0 0 !important;
  width: 100%;
  justify-content: center;
  display: flex;
}

.page_textAbout__kQUqe p {
  margin-bottom: 2em;
  padding: 0 10vw 0 0 !important;
  text-align: justify;
}

.page_cardPremio__l8P7C {
  width: 25vw;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: var(--margin);
}

.page_imageAbout__N9omn:nth-child(1) {
  margin-left: 10vw;
}

.page_imageAbout__N9omn:nth-child(2) {
  margin-right: 10vw;
}

.page_textBio__vNAxc {
  margin: 0 auto;
}

.page_textBio__vNAxc a {
  margin-right: 10vw;
}

@media (max-width: 800px) {
  .page_hero__wjdj1{
    height: 87vh;
  }

  .page_textAbout__kQUqe p,
  .page_textBio__vNAxc h2 {
    padding: 0 !important;
  }

  .page_textBio__vNAxc a {
    margin: 0 auto !important;
  }

  .page_imageAbout__N9omn {
    display: none;
  }

  .page_textAbout__kQUqe {
    width: 100%;
    padding: 0;
  }

  .page_cardPremio__l8P7C {
    width: 100%;
  }

  .page_navbarBottom__xfHsl ul {
    display: block;
    text-align: center;
    font-size: 0.6em;
  }

  .page_navbarBottom__xfHsl p {
    display: none;
  }

  .page_navbarBottom__xfHsl ul li {
    margin-top: 10px;
    line-height: 1;
  }

  .page_hero__wjdj1::before {
    background-image: url("/images/imagenes/responsive-bg/hero-responsive-bg-2.JPG") !important;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif !important;
  src: url("https://use.typekit.net/mqv6hso.css") format("ttf") !important;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif !important;
  src: url("https://use.typekit.net/mqv6hso.css") format("ttf") !important;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif !important;
  src: url("https://use.typekit.net/mqv6hso.css") format("ttf") !important;
  font-weight: 100;
  font-style: normal;
}

.page_heroSection___mcj9 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif !important;
}

.page_heroSection1__iN3Ot {
  width: 100vw;
  height: 100vh;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.page_heroSection1__iN3Ot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.page_heroSection1__iN3Ot::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.page_heroText__g5S3T h2 {
  display: inline-block;
  font-weight: 400 !important;
}

.page_heroText__g5S3T {
  display: flex;
  align-items: baseline;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  width: 100vw;
  z-index: 100;
  color: white;
}

.page_buttonHeader2__IuVUr {
  margin-left: calc(var(--margin));
}

.page_aboutMe__XPGkS {
  display: flex;
}

.page_aboutMe__XPGkS video {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.page_aboutMeText__T1LyT {
  height: 100%;
  align-items: center;
  gap: 1vw;
  padding: 0 var(--margin);
  margin-left: 3vw;
}

.page_aboutMeText__T1LyT p {
  margin-bottom: 2vw;
  text-justify: auto;
}

.page_aboutMeVideo__Fj_h1 {
  position: relative;
  overflow: hidden;
  height: 65vh;
}

.page_parent__HJWUK {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: var(--margin);
  width: 100%;
  margin: 0 auto;
}

.page_parent__HJWUK div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.page_parent__HJWUK div video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.page_tallerText__APr5j {
  margin-left: calc(var(--margin) * 2);
}

.page_tallerText__APr5j a {
  margin: 0 auto;
  margin-top: 3em;
}

.page_heroText__g5S3T h2 {
  font-size: 50px;
  line-height: 1;
  margin-bottom: 1.5vh;
}

.page_heroText__g5S3T p {
  font-size: 50px;
  line-height: 1;
}

.page_divTallerDetailsCenter__BZHw5 {
  margin: 0 auto;
  width: 50% !important;
}

@media (max-width: 800px) {
  .page_divTallerDetailsCenter__BZHw5 p {
    width: 60% !important;
  }

  .page_heroSection1__iN3Ot {
    height: 87vh;
  }

  .page_heroText__g5S3T {
    font-size: 1em !important;
    bottom: 0;
  }

  .page_heroText__g5S3T h2 {
    margin-bottom: 1vh;
    font-size: 1.8rem;
    line-height: 1;
  }

  .page_heroText__g5S3T p {
    font-size: 1.7rem;
    line-height: 1;
    font-weight: lighter;
  }

  .page_heroText__g5S3T div a {
    font-size: 0.8em;
    width: 50%;
  }

  .page_heroText__g5S3T div {
    width: 100%;
  }

  .page_divExpo__ABgYV {
    justify-content: center !important;
  }

  .page_aboutMe__XPGkS {
    display: flex;
  }

  .page_aboutMeText__T1LyT {
    padding: 0;
    margin-left: 0;
  }

  .page_aboutMeText__T1LyT .page_button__vnlhW {
    width: 100%;
  }

  .page_divCards__n9j6n {
    width: 100%;
  }

  .page_containerTaller__OgDaB {
    flex-flow: column;
  }

  .page_containerTaller__OgDaB div {
    width: 100%;
  }

  .page_tallerText__APr5j {
    margin: 0;
    order: 1;
    margin-bottom: var(--margin);
    margin-top: 2em;
  }

  .page_tallerText__APr5j h2 {
    text-align: center;
  }

  .page_gridTaller__Bdf33 {
    order: 2;
  }

  .page_buttonHeader__q0Ua_ {
    margin-right: 1em !important;
  }

  .page_tallerButton__fimV2 {
    margin-top: 3em !important;
    margin-bottom: 2em !important;
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/Header/Header.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.Header_header___60Q_ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  color: white !important;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
}

.Header_headerDiv__tmsys{
  font-size: 1.05em;
}

.Header_activeLink__WJyjL {
  display: block;
  content: "";
  border-bottom: solid 1px white;
  transform: scaleX(1);
  opacity: 1;
}

.Header_buttonHeader__qsnMx.Header_activeLink__WJyjL:after {
  transition: none !important; /* Disable transition */
  display: none !important;
}

.Header_scrolled__WGhhv {
  background-color: white;
  color: black !important;
  .Header_buttonHeader__qsnMx:after {
    border-bottom: solid 1px black;
  }

  .Header_activeLink__WJyjL {
    border-bottom: solid 1px black;
  }
}

.Header_headerImg__UWAg1 {
  width: 45%;
  height: auto;
}

.Header_buttonHeader__qsnMx {
  font-size: calc(var(--font-size) / 1.1);
  margin: 0 var(--margin);
}

.Header_buttonHeader__qsnMx:after {
  display: block;
  content: "";
  border-bottom: solid 1px white;
  transform: scaleX(0);
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.Header_buttonHeader__qsnMx:hover:after {
  transform: scaleX(1);
  opacity: 1;
}

.Header_menuIcon__wd3Jj {
  display: none;
}

.Header_imgLogo__bRDMk {
  z-index: 500;
}

.Header_headerDivResponsive__Bjy_5 {
  display: none;
  transition: all 0.5s ease;
}

@media (max-width: 800px) {
  .Header_menuIcon__wd3Jj {
    display: block;
    font-size: 2em;
    z-index: 500;
    position: absolute;
    margin-right: 8vw;
    right: 0;
  }

  .Header_header___60Q_ {
    justify-content: initial;
  }

  .Header_headerDiv__tmsys {
    display: none;
  }

  .Header_headerDivResponsive__Bjy_5 {
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    background-color: white;
    color: black;
    z-index: 300;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .Header_headerDivResponsive__Bjy_5 a{
    font-weight: 400;
  }

  .Header_headerDivResponsive__Bjy_5 li{
    border-bottom: 0 !important;
  }

  .Header_headerDivResponsive__Bjy_5::after {
    background-color: black;
    width: 100vw;
    height: 100vh;
  }

  .Header_blackMenu__vhq3t {
    fill: black;
  }

  .Header_buttonHeader__qsnMx {
    margin: 0;
    margin-top: 6px;
    font-size: 1.5em;
  }

  .Header_activeLink__WJyjL a{
    font-weight: 500 !important;
  }
}

