.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  color: white !important;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
}

.headerDiv{
  font-size: 1.05em;
}

.activeLink {
  display: block;
  content: "";
  border-bottom: solid 1px white;
  transform: scaleX(1);
  opacity: 1;
}

.buttonHeader.activeLink:after {
  transition: none !important; /* Disable transition */
  display: none !important;
}

.scrolled {
  background-color: white;
  color: black !important;
  .buttonHeader:after {
    border-bottom: solid 1px black;
  }

  .activeLink {
    border-bottom: solid 1px black;
  }
}

.headerImg {
  width: 75%;
  height: auto;
}

.buttonHeader {
  font-size: calc(var(--font-size) / 1.1);
  margin: 0 var(--margin);
}

.buttonHeader:after {
  display: block;
  content: "";
  border-bottom: solid 1px white;
  transform: scaleX(0);
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.buttonHeader:hover:after {
  transform: scaleX(1);
  opacity: 1;
}

.menuIcon {
  display: none;
}

.imgLogo {
  z-index: 500;
}

.headerDivResponsive {
  display: none;
  transition: all 0.5s ease;
}

@media (max-width: 800px) {
  .menuIcon {
    display: block;
    font-size: 2em;
    margin-right: calc(var(--margin) / 2);
    z-index: 500;
  }

  .header {
    justify-content: initial;
  }

  .headerDiv {
    display: none;
  }

  .headerDivResponsive {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    padding: 25vw 23vw 20vw 8vw !important;
    height: 100vh;
    background-color: white;
    color: black;
    z-index: 300;
  }

  .headerDivResponsive a{
    font-weight: 400;
  }

  .headerDivResponsive::after {
    background-color: black;
    width: 100vw;
    height: 100vh;
  }

  .blackMenu {
    fill: black;
  }

  .buttonHeader {
    font-size: 1em;
    margin: 0;
    margin-bottom: calc(var(--margin) * 2);
  }
}
