.hero {
  width: 100vw;
  height: 100vh;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/taller-hero-2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero .heroText h2 {
  display: inline-block;
  margin-bottom: calc(var(--margin) / 3);
}

.heroText {
  display: flex;
  align-items: baseline;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  width: 100vw;
  z-index: 100;
}

.buttonHeader2 {
  margin-left: calc(var(--margin));
}

.hero .heroText p {
  font-weight: 300;
}

.modalidadDiv {
  align-items: center;
  padding: calc(var(--margin) / 2);
  border: 0.9px solid black;
  height: fit-content;
  width: fit-content;
  .icon {
    margin-right: calc(var(--margin) / 2);
  }
}

.modalidadesDiv {
  flex-wrap: wrap;
  gap: calc(var(--margin) / 2);
}

.icon {
  font-size: 1.5em;
}

.horarios {
  margin-right: 5vw;
}

.divModal {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 200;
  bottom: 0;
}

.divModalChild {
  background-color: white;
  bottom: 0;
  width: 84vw;
  border-radius: 20px 20px 0 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}

@media (max-width: 800px) {

  .divModalChild{
    display: flex;
    flex-wrap: wrap;
  }

  .divModalChild div {
    width: 100%;
  }
  .heroText h2 {
    font-size: 3em;
  }

  .heroText p,
  .divTallerDetails {
    width: 100% !important;
  }

  .divTallerDetails p {
    width: 100%;
  }
}
