@media (max-width: 800px) {
  .textContact {
    display: none;
  }

  .textContactButton {
    margin-top: 1em;
  }

  .divModalChild div {
    font-size: 0.9em !important;
  }
}

  .divModalChild{
    width: 90vw;
  }
