@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  overflow-y: hidden;
  overflow-x: hidden;
}

:root {
  --main-color: #000000;
  --secondary-color: #ffffff;
  --success-color: #008000;
  --font-size: 1em;
  --margin: 1em;
  --border: 10px;
  --height: 40px;
  --shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
  --padding-section: 2vw 5vw;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

img,
video {
  filter: saturate(0.65); /* Reduce saturation */
  transition: filter 0.3s ease; /* Smooth transition on hover */
}

img:hover,
video:hover {
  filter: saturate(1); /* Restore full saturation on hover */
}

.paddingSection {
  padding: 3vw 8vw;
}

.paddingBody {
  padding: 0 8vw 3vw;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.title {
  font-weight: 500;
  font-style: normal;
  font-size: 1.1em;
}

.subtitle {
  font-weight: 100;
  font-style: normal;
  font-size: 1em;
}

.m-bottom {
  margin-bottom: var(--margin);
}

video::-webkit-media-controls-panel {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  padding: calc(var(--margin) / 2) var(--margin);
  width: fit-content;
  height: 2.5em;
  font-weight: 500;
  justify-content: center;
  text-decoration: none;
  transition: all 250ms;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 1);
}

.button:hover {
  transform: translateY(-3px);
}

.button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.button.secondary {
  background-color: rgba(0, 0, 0, 0) !important;
  color: white;
  border: 1px solid var(--secondary-color);
}

.hero .button.secondary {
  margin-left: var(--margin);
}

/* Neue Haas Unica W1G UltraLight */
.ultralight {
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.dot {
  height: 10px;
  width: 10px;
  border: 0.9px solid black;
  border-radius: 50%;
  display: inline-block;
}

.dot.selected {
  background-color: black;
}

.carrousellHandler {
  gap: calc(var(--margin));
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-top: var(--margin);
}

.dots {
  gap: calc(var(--margin) / 2);
}

.cardsExpo {
  margin-bottom: calc(var(--margin) / 2);
}

.gap {
  gap: calc(var(--margin) / 2);
}

@media (max-width: 800px) {
  .paddingSection{
    padding: 6vw 8vw !important;
  }

  .button{
    width: 100%;
  }
}