@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/mqv6hso.css");

* {
  margin: 0;
  padding: 0;
  transition: all ease 0.5s !important;
  box-sizing: border-box;
}

:root {
  --main-color: #000000;
  --secondary-color: #ffffff;
  --success-color: #008000;
  --font-size: 1em;
  --margin: 1em;
  --border: 10px;
  --height: 40px;
  --shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
  font-family: "neue-haas-unica", sans-serif;
  --padding-section: 2vw 5vw;
}

.paddingSection{
  padding: 2vw 8vw;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.title{
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.subtitle{
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2em;
}

video::-webkit-media-controls-panel {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--border) * 1.1);
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: calc(var(--margin) / 2) var(--margin);
  width: fit-content;
  height: 2.5em;
}

.button.secondary {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid var(--secondary-color);
}

.hero .button.secondary{
  margin-left: var(--margin);
}

/* Neue Haas Unica W1G UltraLight */
.ultralight {
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 100;
  font-style: normal;
}
