@font-face {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif !important;
  src: url("https://use.typekit.net/mqv6hso.css") format("ttf") !important;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif !important;
  src: url("https://use.typekit.net/mqv6hso.css") format("ttf") !important;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif !important;
  src: url("https://use.typekit.net/mqv6hso.css") format("ttf") !important;
  font-weight: 100;
  font-style: normal;
}

.heroSection {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif !important;
}

.heroSection1 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.heroSection1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.heroSection1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.heroText h2 {
  display: inline-block;
}

.heroText {
  display: flex;
  align-items: baseline;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  width: 100vw;
  z-index: 100;
  color: white;
}

.buttonHeader2 {
  margin-left: calc(var(--margin));
}

.aboutMe {
  display: flex;
}

.aboutMe video {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.aboutMeText {
  height: 100%;
  align-items: center;
  gap: 1vw;
  padding: 0 var(--margin);
  margin-left: 3vw;
}

.aboutMeText p {
  margin-bottom: 2vw;
  text-justify: auto;
}

.aboutMeVideo {
  position: relative;
  overflow: hidden;
  height: 65vh;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: var(--margin);
  width: 100%;
  margin: 0 auto;
}

.parent div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.parent div video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.tallerText {
  margin-left: calc(var(--margin) * 2);
}

.tallerText a {
  margin: 0 auto;
  margin-top: 3em;
}

.heroText h2 {
  font-size: 50px;
  line-height: 1;
  margin-bottom: 1.5vh;
}

.heroText p {
  font-size: 50px;
  line-height: 1;
}

.divTallerDetailsCenter {
  margin: 0 auto;
  width: 50% !important;
}

@media (max-width: 800px) {
  .divTallerDetailsCenter p {
    width: 60% !important;
  }

  .heroSection1 {
    height: 100vh;
  }

  .heroText {
    font-size: 1em !important;
    bottom: 0;
  }

  .heroText h2 {
    margin-bottom: 1vh;
  }

  .heroText h2 {
    font-size: 1.8rem;
    line-height: 1;
  }

  .heroText p {
    font-size: 1.7rem;
    line-height: 1;
  }
  .heroText p {
    font-weight: lighter;
  }

  .heroText div a {
    font-size: 0.8em;
    width: 50%;
  }

  .heroText div {
    width: 100%;
  }

  .divExpo {
    justify-content: center !important;
  }

  .aboutMe {
    display: flex;
  }

  .aboutMeText {
    padding: 0;
    margin-left: 0;
  }

  .aboutMeText .button {
    width: 100%;
  }

  .divCards {
    width: 100%;
  }

  .containerTaller {
    flex-flow: column;
  }

  .containerTaller div {
    width: 100%;
  }

  .tallerText {
    margin: 0;
    order: 1;
    margin-bottom: var(--margin);
    margin-top: 2em;
  }

  .tallerText h2 {
    text-align: center;
  }

  .gridTaller {
    order: 2;
  }

  .buttonHeader {
    margin-right: 1em !important;
  }

  .tallerButton {
    margin-top: 3em !important;
    margin-bottom: 2em !important;
  }
}
