.heroSection1 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

/*.heroSection1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: 0;
  background-image: url("/images/imagenes/esta-si-3.JPG");
}*/

.heroSection1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Add the dark overlay */
  z-index: 1; /* Place it above the image but behind content */
}

.heroText h2 {
  display: inline-block;
  width: 60%;
  margin-bottom: calc(var(--margin) / 3);
}

.heroText {
  display: flex;
  align-items: baseline;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  width: 100vw;
  z-index: 100;
}

.buttonHeader2 {
  margin-left: calc(var(--margin));
}

.aboutMe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.aboutMe video {
  width: 60vw;
  height: 100%;
  object-fit: cover;
}

.aboutMeText {
  display: grid;
  height: 100%;
  align-items: center;
  gap: 1vw;
  padding: 0 var(--margin);
}

.aboutMeVideo {
  position: relative;
  overflow: hidden;
  height: 65vh;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: var(--margin);
  width: 100%;
  margin: 0 auto;
}

.parent div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.parent div video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.tallerText {
  margin-left: calc(var(--margin) * 2);
}

@media (max-width: 800px) {
  .heroText div a {
    width: 50%;
  }

  .heroText div {
    width: 100%;
  }

  .divExpo {
    justify-content: center !important;
  }

  .heroText h2 {
    font-size: 2em;
    width: 100%;
  }

  .aboutMe {
    display: flex;
  }

  .aboutMeText {
    padding: 0;
  }

  .aboutMeText .button {
    width: 100%;
  }

  .divCards{
    width: 100%;
  }

  .containerTaller{
    flex-flow: column;
  }

  .containerTaller div{
    width: 100%;
  }

  .tallerText{
    margin: 0;
    order: 1;
    margin-bottom: var(--margin);
  }

  .gridTaller{
    order: 2;
  }
}
