/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_heroSection1__iN3Ot {
  width: 100vw;
  height: 100vh;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; /* Ensure the pseudo-element is positioned correctly */
  overflow: hidden; /* Prevent content overflow */
}

.page_heroSection1__iN3Ot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/imagenes/esta-si-3.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0; /* Place it behind content */
}

.page_heroSection1__iN3Ot::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Add the dark overlay */
  z-index: 1; /* Place it above the image but behind content */
}

.page_heroSection1__iN3Ot .page_heroText__g5S3T h2 {
  display: inline-block;
  width: 60%;
  margin-bottom: calc(var(--margin) / 3);
}

.page_heroText__g5S3T {
  display: flex;
  align-items: baseline;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  width: 100vw;
  z-index: 100;
}

.page_buttonHeader2__IuVUr {
  margin-left: calc(var(--margin));
}

.page_aboutMe__XPGkS {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.page_aboutMe__XPGkS video {
  width: 60vw;
  height: 100%;
  object-fit: cover;
}

.page_aboutMeText__T1LyT {
  display: grid;
  height: 100%;
  align-items: center;
  gap: 1vw;
  padding: 0 var(--margin);
}

.page_aboutMeVideo__Fj_h1 {
  position: relative;
  overflow: hidden;
  height: 65vh;
}

.page_parent__HJWUK {
  display: grid;
  grid-template-columns: 20% 10% 40% 20%;
  gap: 15px;
}

.page_parent__HJWUK div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.page_parent__HJWUK div video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.page_div1__2NLA3 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
}

.page_div2__WB6vb {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
}

.page_div3__ZcvxV {
  grid-row: span 3 / span 3;
  grid-column-start: 4;
}

.page_div4__jeUeM {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
}

.page_div5__6N99i {
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 3;
}

.page_div6__WxJOi {
  grid-column: span 2 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 4;
}

.page_tallerText__APr5j {
  margin-left: calc(var(--margin) * 2);
}

@media (max-width: 800px) {
  .page_divExpo__ABgYV {
    justify-content: center !important;
  }

  .page_heroText__g5S3T h2{
    font-size: 2em;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/taller/page.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.page_hero__hsQRg {
  width: 100vw;
  height: 100vh;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.page_hero__hsQRg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/taller-hero-2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.page_hero__hsQRg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.page_hero__hsQRg .page_heroText__6thRd h2 {
  display: inline-block;
  margin-bottom: calc(var(--margin) / 3);
}

.page_heroText__6thRd {
  display: flex;
  align-items: baseline;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  width: 100vw;
  z-index: 100;
}

.page_buttonHeader2__eTvGr {
  margin-left: calc(var(--margin));
}

.page_hero__hsQRg .page_heroText__6thRd p {
  font-weight: 300;
}

.page_modalidadDiv__udUvb {
  align-items: center;
  padding: calc(var(--margin) / 2);
  border: 0.9px solid black;
  height: fit-content;
  width: fit-content;
  .page_icon__uLOAA {
    margin-right: calc(var(--margin) / 2);
  }
}

.page_modalidadesDiv__GuNGL {
  flex-wrap: wrap;
  gap: calc(var(--margin) / 2);
}

.page_icon__uLOAA {
  font-size: 1.5em;
}

.page_horarios__PMfKj {
  margin-right: 5vw;
}

@media (max-width: 800px) {
  
}
