/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_heroSection1__iN3Ot {
  width: 100vw;
  height: 100vh;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; /* Ensure the pseudo-element is positioned correctly */
  overflow: hidden; /* Prevent content overflow */
}

.page_heroSection1__iN3Ot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/imagenes/esta-si-3.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0; /* Place it behind content */
}

.page_heroSection1__iN3Ot::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Add the dark overlay */
  z-index: 1; /* Place it above the image but behind content */
}

.page_heroSection1__iN3Ot .page_heroText__g5S3T h2 {
  display: inline-block;
  width: 60%;
  margin-bottom: calc(var(--margin) / 3);
}

.page_heroText__g5S3T {
  display: flex;
  align-items: baseline;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  width: 100vw;
  z-index: 100;
}

.page_buttonHeader2__IuVUr {
  margin-left: calc(var(--margin));
}

.page_aboutMe__XPGkS {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.page_aboutMe__XPGkS video {
  width: 60vw;
  height: 100%;
  object-fit: cover;
}

.page_aboutMeText__T1LyT {
  display: grid;
  height: 100%;
  align-items: center;
  gap: 1vw;
  padding: 0 var(--margin);
}

.page_aboutMeVideo__Fj_h1 {
  position: relative;
  overflow: hidden;
  height: 65vh;
}

.page_parent__HJWUK {
  display: grid;
  grid-template-columns: 20% 10% 40% 20%;
  gap: 15px;
}

.page_parent__HJWUK div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.page_parent__HJWUK div video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.page_div1__2NLA3 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
}

.page_div2__WB6vb {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
}

.page_div3__ZcvxV {
  grid-row: span 3 / span 3;
  grid-column-start: 4;
}

.page_div4__jeUeM {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
}

.page_div5__6N99i {
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 3;
}

.page_div6__WxJOi {
  grid-column: span 2 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 4;
}

.page_tallerText__APr5j {
  margin-left: calc(var(--margin) * 2);
}

@media (max-width: 800px) {
  .page_divExpo__ABgYV {
    justify-content: center !important;
  }

  .page_heroText__g5S3T h2{
    font-size: 2em;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/Card/Card.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Card_card__Tuw2S {
  width: 25vw;
  height: fit-content;
  transition: all ease 0.5s !important;
}

.Card_card__Tuw2S:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.Card_card__Tuw2S:hover > .Card_cardText__IFyLM {
  padding: 0 3%;
}

.Card_card__Tuw2S h2 {
  font-weight: 500;
}

.Card_cardText__IFyLM {
  transition: all ease 0.5s !important;
  margin: var(--margin) 0;
}

.Card_cardImage__PhPFO {
  position: relative;
  overflow: hidden;
  height: 35vh;
}

.Card_cardImage__PhPFO img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease; /* Smooth scaling */
}

.Card_cardImage__PhPFO img:hover {
  width: 110%;
  height: 110%;
}

.Card_dataBox__5Snnt {
  width: fit-content;
  padding: 1% 0;
  margin: calc(var(--margin) / 2) 0 0 0;
}

.Card_divData__M4ggs {
  gap: calc(var(--margin));
  align-items: baseline;
  flex-wrap: wrap;
}

.Card_dataLocation__Gzlut {
  align-items: center;
  gap: calc(var(--margin) / 2);
  align-items: baseline;
}

.Card_divData__M4ggs,
.Card_dataLocation__Gzlut p {
  font-size: 0.85em;
}


@media (max-width: 800px) {
  .Card_card__Tuw2S{
    width: 70vw;
  }
}
